.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
@media screen and (max-width: 450px){
    .wrapper{
      justify-content: center;
    }
  }
.search{
    width: 175px;
    height: 6px;
    border-radius: 50px;
    border: 1px solid black;
    padding: 15px;
    font-size: 17px;
    outline: none;
    transition: width 0.3s ease;
    color: rgba(220, 220, 220, 0.567);
}
.search:focus{
    width: 250px;
    color: black;
}
.icon{
    transform: translateX(-40px);
    cursor: pointer;
}