*{
  margin: 0;
  padding: 0;
}
.cards{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 30px auto;
}
body{
  background-color: rgb(210, 210, 252);
  padding: 30px;
  width: 80%;
  margin: 0 auto;
}

.main-title{
  font-size: 38px;
}
.error-text{
  margin-top: 30px;
  font-size: 28px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.input-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}